/*page d'accueil*/

.image {
    background-image: url(image/maxresdefault.jpg);
    background-position: center;
    background-size:cover;
    background-color: black;
    background-repeat: no-repeat;
    }

.presentation{
    margin-top: 4em;
    width: 90%;
    height: 90%;
    margin:auto;
    font-size: 18px;
}

body{
    background-color: black;
    color:rgb(63, 223, 84);
    text-align: center;
} 

img {
    margin-top: 10em;
    width: 20%;
    height: 20%;
    margin-bottom: 10em;
}

h1 {
    color: rgb(241, 121, 8);
} 

h2 {
    color: gold;
    
}

.opening, .contact p {
    list-style-position: inside;
    text-align: left;
}

.opening {
    margin-left: 20vw;
}

.contact p{
    margin-left: 25vW;
}



@media screen and (max-width: 450px) {
    .opening{
        margin-left: 0;
    } 
    .contact p{
        text-align: left;
        margin-left: 10vw;
    }
}

/*nav barre responsive*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(69, 69, 69);
    position: sticky;
    top: 0px;
    z-index: 1;
}
.conteneur-nav{
    position: absolute;
    width: 100%;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    color:white;
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: rgb(69, 69, 69);
}
nav ul{
    display: none;
    list-style-type: none;
    background-color: #a38a44;
}
nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
}
nav ul li{
    flex: 1 1 auto;
    text-align: center;
}
nav > div > li{
    color: white;
}
nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 0px;
}

@media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;
    }
    nav label, nav input{
        display: none;
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
        background-color: rgb(69, 69, 69);
    }
    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: white    ;
    }
    nav a{
        border-bottom: 2px solid transparent;
    }
    nav a:hover{
        color: orange;
        border-bottom: 2px solid gold;
    }
    .button > a::after{
        font-size: 12px;
    }
  
    .schedules, .contact {
        width: 45%;
        height: auto;
        margin: 1%;
        box-shadow: -10px -5px 5px orange;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .contact p{
        text-align: left;
        margin-left: 8vw;
    }

   
    .presentation{
        margin-top: 4em;
        width: 90%;
        height: 90%;
        margin:auto;
        font-size: 28px;
    }
    
}

