/*page d'accueil*/

.image {
    background-image: url(image/maxresdefault.jpg);
    background-position: center;
    background-size:cover;
    background-color: black;
    background-repeat: no-repeat;
    }

.presentation{
    margin-top: 4em;
    width: 90%;
    height: 90%;
    margin:auto;
    font-size: 18px;
}

body{
    background-color: black;
    color:rgb(63, 223, 84);
    text-align: center;
} 

img {
    margin-top: 10em;
    width: 20%;
    height: 20%;
    margin-bottom: 10em;
}

h1 {
    color: rgb(241, 121, 8);
} 

h2 {
    color: gold;
    
}

.opening, .contact p {
    list-style-position: inside;
    text-align: left;
}

.opening {
    margin-left: 20vw;
}

.contact p{
    margin-left: 25vW;
}



@media screen and (max-width: 450px) {
    .opening{
        margin-left: 0;
    } 
    .contact p{
        text-align: left;
        margin-left: 10vw;
    }
}



@media screen and (min-width: 980px){
  
    .schedules, .contact {
        width: 45%;
        height: auto;
        margin: 1%;
        box-shadow: -10px -5px 5px orange;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .contact p{
        text-align: left;
        margin-left: 8vw;
    }

   
    .presentation{
        margin-top: 4em;
        width: 90%;
        height: 90%;
        margin:auto;
        font-size: 28px;
    }
    
}

